<div class="alert alert-primary" role="alert">
  <h1>Via CEP API!</h1>
    <!-- A simple primary alert—check it out asdass! -->
  </div>
  <!-- Content here -->
  <div class="container-fluid text-center mt-3 mb-3 d-flex">
      <div>
      <form>
          <input class="form-control" type="search" placeholder="cep search..."
              autofocus>
      </form>
    </div>
    <div class="ml-2">
      <button class="btn btn-primary" id="searchCEP" type="button" mat-button >
        Buscar CEP
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col">{{}}</div> -->
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>
    <div class="row">
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
      <div class="col">col</div>
    </div>
</div>