<div class="alert alert-primary" role="alert">
  <h1>Via CEP API!</h1>
    <!-- A simple primary alert—check it out asdass! -->
  </div>
  <!-- Content here -->
  <form>
    <div class="container-fluid text-center mt-3 mb-3 d-flex">
      <div>
        <input [(ngModel)]="cepNumber" name="cepNumber" class="form-control" 
        type="search" placeholder="cep search..." mask="00000-000"
        autofocus>
      </div>
      <div class="ml-2">
        <button (click)="clickSearch()" type="button" 
            id="searchAddress" name="searchAddress" class="btn btn-primary">
            Buscar CEP
        </button>
      </div>
    </div>
  </form>
  <div class="container-fluid">
    <div class="row">
      <div id="localidade" class="col-12"><b>Localidade:</b> {{address.localidade}}</div>
      <div id="cep" class="col-12"><b>CEP:</b> {{address.cep}}</div>
      <div id="logradouro" class="col-12"><b>Logradouro:</b> {{address.logradouro}}</div>
      <div id="bairro" class="col-12"><b>Bairro:</b> {{address.bairro}}</div>
      <div id="uf" class="col-12"><b>UF:</b> {{address.uf}}</div>
      <div id="enderecoCompleto" class="col-12"><b>Endereço completo:</b> {{address.enderecoCompleto}}</div>
    </div>
  </div>